{% if site.featured-tags %}
<section>
    {% if include.bottom %}
    <hr class="hidden-sm hidden-xs">
    {% endif %}
    <span style="font-size:22px; font-weight:bold;"><a style="text-decoration: none;"
            href="{{ site.baseurl }}/categories/">FEATURED CATEGORIES</a></span>
    <div class="tags">
        {% for category in site.categories %}{% if category[1].size > site.featured-condition-size %}
        <a data-sort="{{ site.posts.size | minus: category[1].size | prepend: '0000' | slice: -4, 4 }}"
            href="{{ site.baseurl }}/categories/#{{ category[0] | url_encode }}" title="{{ category[0] }}"
            rel="{{ category[1].size }}">{{ category[0] }}</a>
        {% endif %}{% endfor %}
        {{ category | split:'</a>' | sort | join:'</a>' }}
    </div>
</section>
{% endif %}
<script>
    jQuery(document).ready(function ($) {
        var MQL = 1170;

        //primary navigation slide-in effect
        if ($(window).width() > MQL) {
            bannerHeight = $('.masthead .container').height();
            $(window).on('scroll', {
                previousTop: 0
            },
                function () {
                    var currentTop = $(window).scrollTop(),
                        $catalog = $('.side-catalog');

                    //adjust the appearance of side-catalog
                    $catalog.show()
                    if (currentTop > (bannerHeight)) {
                        $catalog.addClass('fixed')
                    } else {
                        $catalog.removeClass('fixed')
                    }
                });
        }
    });
</script>